body {
    margin: 0;
}
.title__major {
    margin: 0;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,93,121,0.9682247899159664) 47%, rgba(0,212,255,1) 100%);   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.validation {
    text-align: center;
    padding: 10px;
}

.button__amount {
border-radius: 6px;
border: 1px solid black;
padding: 6px;
margin-left: 5px;
}

.button__amount:hover {
    background-color: rgb(233, 230, 230);
}

.title__minor {
    text-transform:uppercase;
    margin-top: 0;
}

section {
    background-image: url("../Imagenes/vista-aerea-conos-waffle-helado-fondo-rosa_181624-46779.jpg");
}

.conteiner__ice-cream {
    text-align: center;
    border: 1px solid black;
    display: flex;
    width: 50vw;
    min-width: 318px;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 35px;
    justify-content: center;
    margin-top: 25px;
    background-color: #EAEAEA;
    margin: auto;
}

.box__ice-cream {
    width: 170px;
    background-color: beige;
    margin-top: 20px ;  
    padding: 0 10px;
    box-shadow: 0px 0px 10px 1px rgba(10,10,10,0.2);
}

.box__ice-cream img {
    max-width: 150px;
    background-color: beige;
    border: 1px solid black;
}

