.clase__prueba {
   color: brown;
}

.clase__prueba2 {
    color: aqua;
}

.clase__prueba3 {
    color: green;
}

.clase__prueba4 {
    color: yellow;
}

.probando1 {
    padding: 40px;
    background-color: black;
}